<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tyut.assignsub.mapper.ClassMapper">
    <resultMap id="ClassResultMap" type="Class">
        <id column="id" property="id" javaType="Integer"/>
        <result column="name" property="name" javaType="String"/>
        <result column="major" property="major" javaType="String"/>
    </resultMap>

    <insert id="insertClass" parameterType="Class">
        insert into class(name, major)
        values (#{name}, #{major})
    </insert>

    <select id="getAll" resultMap="ClassResultMap">
        select *
        from class
    </select>

    <select id="getClassById" resultMap="ClassResultMap" parameterType="Integer">
        select *
        from class
        where id = #{id}
    </select>

    <delete id="deleteClassById" parameterType="Integer">
        delete
        from class
        where id = #{id}
    </delete>

    <update id="updateClassById" parameterType="Integer">
        update class
        set name  = #{name},
            major = #{major},
            where id = #{id}
    </update>

    <select id="getClassByStudentId" resultMap="ClassResultMap" parameterType="Integer">
        select class.id as id, class.name as name, class.major as major
        from class,
             student
        where student.id = #{id}
          and class.id = student.classid
    </select>

    <update id="updateClass" parameterType="Class">
        update class
        set name  = #{name},
            major = #{major}
        where id = #{id}
    </update>

</mapper>